/* change these */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --white-space: 1rem;

  /* colors */

  --color-1: #6b705c;
  --color-2: #a5a58d;
  --color-3: #ddbea9;
  --color-4: #f2f1e4;
  --color-5: #b8babf;
  --color-accent: #8c425d;

  /* fonts */

  --font-serif: "Domine", Georgia, "Times New Roman", Times, serif;
  --font-sans: "Sora", Arial, Helvetica, sans-serif;
}

button {
  transition: all 3s;
}

a {
  transition: all 3s;
}

.button_1:hover {
  background-color: var(--color-2);
}

.button_2:hover {
  background-color: var(--color-1);
}

.button_3:hover {
  background-color: var(--color-1);
  border: 2px solid var(--color-1);
  color: white;
}

.button_4:hover {
  background-color: white;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  font-weight: 700;
}

/* button:active {
  background-color: var(--bg-color);
} */

a:hover {
  color: var(--color-accent);
}

* html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.footer_color {
  background-color: var(--color-2);
}

.full-width {
  background: var(--color-1);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  font-family: var(--font-serif);
  letter-spacing: 2px;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: var(--color-2);
  font-weight: bold;
  margin: var(--white-space) 0;
  font-family: var(--font-serif);
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  font-family: var(--font-sans);
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: var(--color-5);
  margin: 0.5rem 0;
  font-family: var(--font-sans);
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--color-1);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.color-swatch-6 {
  background-color: var(--color-accent);
}

/* .textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/white_paperboard.png) top left repeat;
} */

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  border: 0;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-sans);
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 0 0; /* 22S - 0 margin-bottom mobile */
}

.button_1 {
  background: var(--color-1);
  color: white;
}

.button_2 {
  background: var(--color-2);
}
.button_3 {
  background-color: white;
  border: 2px solid var(--color-1);
  font-weight: 600;
  color: var(--color-1);
}

.button_4 {
  background-color: var(--color-1);
  opacity: 0.5;
  font-weight: 700;
}

button:focus,
button:active,
button:focus-within {
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample_1 {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: var(--font-serif);
}

.h1-sample_2 {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h2-sample {
  /*  font-style: italic; */
  font-size: 1.25rem;
  font-family: var(--font-sans);
}

p.typography-sample {
  font-family: var(--font-sans);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--font-sans);
  color: var(--color-1);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--font-sans);
  color: var(--color-5);
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    /* width: 20%; 22s - already in mobile */
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
